<!DOCTYPE html>
<html>
  <head>
    <title>Pizdec</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div style="border: 1px solid red">
    <%= link_to 'Главная', posts_path %>
    <%= link_to 'Новый пост', new_post_path %>
    <%= link_to 'Категории', categories_path %>
    | |
    <% if user_signed_in? %>
      <%= link_to 'Выход', destroy_user_session_path, method: :delete %>
    <% else %>

      <%= link_to 'Вход', new_user_session_path %>
      <%= link_to 'Регистрация', new_user_registration_path %>
    <% end %>
  </div>
    <%= yield %>

  <div>
    <%= render 'shared/submenu' %>
  </div>
  </body>
</html>
